* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
  width: 825px;
  margin: 50px auto;
  position: relative;
}

article {
  border: 4px solid black;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  background-color: #f7f7f7;
}

.price {
  font-size: 24px;
}

.info {
  display: inline-block;
  margin-bottom: 30px;
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
.product {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 15px;
}

ul {
  list-style: square;
  padding-left: 20px;
  margin-bottom: 14px;
}

ul li {
  margin-bottom: 10px;
}

button {
  background-color: black;
  text-transform: uppercase;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 16px;
  width: 100%;
  border-top: 4px solid black;
}

button:hover {
  color: black;
  background-color: white;
}

article::before {
  content: "SALE";
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 3px 10px;
  position: absolute;
  top: -10px;
  left: -25px;
  letter-spacing: 2px;
}

.color {
  background-color: black;
  height: 22px;
  width: 22px;
}
.color-blue {
  background-color: blue;
}
.color-red {
  background-color: red;
}
.color-yellow {
  background-color: yellow;
}
.color-green {
  background-color: green;
}
.color-brown {
  background-color: brown;
}

/*floats*
img {
  float: left;
}

.details {
  float: right;
  margin-right: 40px;
  width: 300px;
  line-height: 25px;
}

.cash {
  float: left;
  margin-left: 50px;
  margin-top: 20px;
  width: 300px;
}

.info {
  display: inline-block;
  margin-top: 10px;
}

.price {
  float: left;
}

.shipping {
  float: right;
  margin-top: 8px;
}

.product-description {
  clear: both;
}

h2 {
  padding: 14px;
}
*/

/*flexbox*/
.colors {
  display: flex;
  gap: 10px;
}

.product-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-top: 25px;
}
/*  
.information {
  display: flex;
  gap: 30px;
}

.details {
  flex: 1;
}

.product-intro{
  flex: 1;
}
*/

/* CSS GRID */
article {
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  column-gap: 30px;
}

button {
  grid-column: 1/-1;
}

h2 {
  grid-column: 1/-1;
}
